.price {
    background-color: #c3002ec2;
    color: white;
    border-radius: 10px;
}

.brand-btn {
    border: none;
    color: white;
    font-weight: 600;
    padding: 7px 14px;
    background-color: #c3002f;
    transition: background-color 1s linear;
    border-radius: 5px;
}

.brand-btn:hover {
    color: #c3002f;
    background-color: #c3002e1e;
}
