@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.banner-heading {
    font-weight: 600;
    color: white;
}

.banner-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

p{
    font-family: 'Poppins', sans-serif;
}

.carousel-container {
    background-color: #c3002e28;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
